plugins {
    id 'nf-sqldb@0.5.0'
}
executor.queueSize = 6
conda.enabled = true
process.container = '192.168.3.60:5001/r-notebook-nf:x86_64-ubuntu-22.04'
docker{
    enabled = true
    runOptions = ' --add-host="master:192.168.3.60"  -v  /ssd2/software:/ssd2/software  -v /data:/data -v /data2:/data2 --user $(id -u):$(id -g) -v /ssd1/wy/workspace2/docker/passwd:/etc/passwd -v /ssd1/wy/workspace2:/ssd1/wy/workspace2 -v $HOME:$HOME  -v  /ssd1/wy/workspace2:/home/jovyan'
}
trace{
    overwrite = true
}

params {
    version = "V1.0"
    project = 'test'
}
process{
    cpus = 10 
    memory = 10.GB
    cache = 'lenient'
    withName:breseq {
        cpus = 30 
        memory = 30.GB
    }
    withName:spades {
        cpus = 20 
        memory = 100.GB
    }
    withName:humann {
        cpus = 30 
        memory = 150.GB
    }
    withName:sample2markers {
        cpus = 20 
        memory = 100.GB
    }
    withName:metaphlan_bowtie2{
        cpus = 30
        memory = 50.GB
        publishDir = [
            [
                path: { "output/bowtie2_align_metaphlan" },
                mode: 'symlink',
                overwrite:true,
                pattern: "*.{bam,sam,log}"
            ]
        ]
    }
    withName:bowtie2{
        cpus = 30
        memory = 50.GB
        publishDir = [
            [
                path: { "output/${params.bowtie2_output?params.bowtie2_output:'bowtie2_align_host'}" }, //
                mode: 'symlink',
                overwrite:true,
                pattern: "*.{bam,sam,log,bai}"
            ]
        ]
    }
    withName:metawrap_assembly {
        cpus = 96
        memory = 200.GB
        publishDir = [
            [
                path:"output/metawrap_assembly",
                mode: 'symlink', 
                overwrite: true
            ],
            // [
            //     path: { "result/${params.version}/metawrap_assembly" },
            //     mode: 'copy',
            //     overwrite:true,
            //     pattern: "*/*{.fasta,.html,_out}"
            // ],
        ]
    }
    
    withName:spades_with_long_reads {
        cpus = 30 
        memory = 40.GB
    }
    withName:metaphlan {
        cpus = 20
        memory = 40.GB
    }
    withName:kraken2 {
        cpus = 20
        memory = 90.GB
    }

    withName:samtools_remove_hosts {
        cpus = 20
        memory = 50.GB
    }
    
}
trace {
    enabled = true
    file = 'trace.txt'
    fields = 'name,tag,task_id,native_id,hash,name,status,exit,realtime,%cpu,cpus,%mem,memory,rss,vmem,read_bytes,write_bytes'
    overwrite = true
}
sql {
    db {
        foo {
            url = 'jdbc:mysql://192.168.3.60:53306/pipeline'
            user = 'root'
            password = '123456'
        }
    }
}